/* Global Fieldset */

main {
  padding: 10px;
}

.json-form {
  width: 40%;
  background-color: rgba(128, 128, 128, 0.1);
}

.data-output {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  margin-right: 20%;
}

.input-group {
  display: flex;
  gap: 15px;
}

.data-output-buttons {
  display: flex;
  gap: 20px;
  padding: 10px;
  margin-top: 10px;
}

#save-changes {
  margin-left: auto;
}

/* JSON Retrieve Fieldset Area */
.json-retrieve {
  display: flex;
  width: fit-content;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.retrieve-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15%;
  padding: 10px 20px;
}

.select-group {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
