.banner {
  display: flex;
  gap: 10px;
}

.banner img {
  width: auto;
  height: 57.6px;
}

/* Global Fieldset */

main {
  padding: 10px;
}

.json-form {
  width: 600px;
  background-color: rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}

.data-output {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
  margin-right: 20%;
}

.input-group {
  display: flex;
  gap: 15px;
}

.data-output-buttons {
  display: flex;
  gap: 15px;
  padding: 10px;
  margin-top: 10px;
}

#save-changes {
  margin-left: auto;
}

/* JSON Retrieve Fieldset Area */
.json-retrieve {
  display: flex;
  width: fit-content;
  gap: 10px;
  padding: 10px;
  margin: 10px;
}

.retrieve-filter {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 15%;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.342);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.select-group {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.team-logo {
  width: 32px;
  height: 32px;
}

.winner {
  background-color: #90ee90;
}

.draw {
  background-color: #d3d3d3;
}

.loser {
  background-color: #ffa07a;
}

.no-games-div {
  display: none;
  justify-content: space-between;
  padding: 10px;
  color: white;
  background-color: rgb(255, 193, 5, 0.95);
  border-radius: 6px;
  margin: 0 10px 10px;
  width: 350px;
  position: fixed;
  z-index: 10;
  right: 0;
  bottom: 0;
}

.no-games-close {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  background-color: unset;
  border: unset;
  border-left: 1px dashed white;
  padding-left: 10px;
}
